<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>일밤 1부 복면가왕.E01.150405.HDTV.H264.720p-WITH 토렌트 예능  Torrent TVZIL</title>
    <!--<link rel="canonical" href="#/>-->
    <meta name="keywords" content="토렌트 예능,일밤,1부,복면가왕,E01,150405,HDTV,H264,720p,WITH 토렌트" />
    <meta name="description" content="일밤 1부 복면가왕.E01.150405.HDTV.H264.720p-WITH 토렌트 다운로드 torrent" />
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="google-site-verification" content="7Fv7uSGceYVMtZreQcSDvUUmObz9MoGau0oA5ISo8D0" />
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"></script>
    <link type="text/css" rel="stylesheet" charset="utf-8" href="//code.jquery.com/ui/1.8.24/themes/blitzer/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/_core/css/sys.css?nFlag=2015040719" />
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/layouts/avsnoop/_main.css?nFlag=2015040719" />
    <script type="text/javascript">
        //<![CDATA[
        var mbrclick= false;
        var rooturl = 'http://www.tvzil.kr';
        var rootssl = 'https://www.tvzil.kr:443';
        var raccount= 'home';
        var moduleid= 'bbs';
        var memberid= '';
        var is_admin= '';
        var needlog = '로그인후에 이용하실 수 있습니다. ';
        var neednum = '숫자만 입력해 주세요.';
        var myagent	= navigator.appName.indexOf('Explorer') != -1 ? 'ie' : 'ns';
        //]]>
    </script>
    <script type="text/javascript" charset="utf-8" src="/_core/js/sys.js?nFlag=2015040719"></script>
    <script type="text/javascript" charset="utf-8" src="/layouts/avsnoop/_main.js?nFlag=2015040719"></script>
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/modules/bbs/_main.css?nFlag=2015040719" />
    <script type="text/javascript" charset="utf-8" src="/modules/bbs/_main.js?nFlag=2015040719"></script>
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/modules/bbs/theme/_pc/torrent/_main.css?nFlag=2015040719" />
    <script type="text/javascript" charset="utf-8" src="/modules/bbs/theme/_pc/torrent/_main.js?nFlag=2015040719"></script>
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/layouts/avsnoop/_theme/style01/theme.css?nFlag=2015040719" />
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/layouts/avsnoop/_lib/common.css?nFlag=2015040719" />
    <link type="text/css" rel="stylesheet" charset="utf-8" href="/layouts/avsnoop/_lib/style.css?nFlag=2015040719" />

</head>
<body>

<link href="/layouts/avsnoop/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="./layouts/avsnoop/css/board.css" rel="stylesheet">

<!--[if IE 7]>
<link rel="stylesheet" href="/layouts/avsnoop/font-awesome/css/font-awesome-ie7.css">
<link href="./layouts/avsnoop/css/ie7.css" rel="stylesheet">
<script>
    $(document).ready(function() {
        $("#gnb").hover(function() {
            $("#container").css("position","relative");
            $("#container").css("z-index","-11");
        } , function() {
            $("#container").css("position","relative");
            $("#container").css("z-index","0");
        });
    });
</script>
<![endif]-->
<!--[if IE 8]>
<link href="/layouts/avsnoop/css/ie8.css" rel="stylesheet">
<![endif]-->

<!--[if lte IE 8]>
<script>
    function setCookie( name, value, expiredays ) {
        var todayDate = new Date();
        todayDate.setDate( todayDate.getDate() + expiredays );
        document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    }

    function closePop2() {
        if ( document.pop_form2.chkbox.checked ){
            setCookie( "maindiv", "done" , 1 );
        }
        jQuery('#pop2').hide();
    }
</script>

<div id="pop2" style="font-size: 11px; color: #000; background: #ffc; border-bottom: 1px outset #fff; padding: 8px; text-align: center;overflow:hidden">
    <p>익스플로러 7 , 8 에서는 아이콘이 제대로 표시가 되지 않을수 있습니다.익스플로러 9 이상 버전을 이용하시거나 구글 <font color="#00bbff">Chrome</font></a>또는 <font color="#00bbff">파이어폭스</font></a> 브라우저를 이용하세요.
    <form name="pop_form2" style="text-align:center;display:block;padding-bottom:0px">
        <div id="check2" style="display:inline"><input type="checkbox" name="chkbox" value="checkbox"> 1일동안 보지 않기 </div>
        <a href="javascript:closePop2();">CLOSE</a></div>
</form>
</div>

<script language="Javascript">
    cookiedata = document.cookie;
    if ( cookiedata.indexOf("maindiv=done") < 0 ){
        jQuery('#pop2').show();
    }
    else {
        jQuery('#pop2').hide();
    }
</script>
<![endif]-->




<div id="banner_dialog" title="Notice" style="display: none">
    <p><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><div style="text-align: center;">사이트 접속이 안될시 주소 안내 입니다</div><div style="text-align: center;"><br></div><div style="text-align: center;"><span style="line-height: 1.5;">사이트 주소 안내 TVZIL 트위터</span></div><div style="text-align: center;"><a href="https://twitter.com/tvzil" target=" _blank">https://twitter.com/tvzil</a></div></div><div style="text-align: center;"><br></div></p>
</div>
<script>
    $(function() {
        var top_z = getCookie('popup_top_z');
        if( top_z != 'yes' ){
            $( "#banner_dialog" ).dialog({
                width: 400,
                height: 300,
                beforeClose: function( event, ui ) {
                    setCookie('popup_top_z', 'yes', 1);
                },
                position: { my: "center top", at: "center top", of: "#hb" }
            });
        }
    });
</script>

<!-- 각 게시판 공지사항 일경우에는 추천,복사기능 안보이게 처리 -->

<!-- <link rel="stylesheet" href="./layouts/avsnoop/font-awesome/css/font-awesome.min.css"> -->
<!--[if IE 7]>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
<![endif]-->



<!-- TVZIL -->
<div id="topNotice">비회원으로 다운로드 가능합니다.</div>
<div id="wrapper">
    <div id="header">
        <div id="ht">
            <div class="wrap">
                <div id="logo"><a href="/">토렌트</a></div>
                <div id="sch" class="sch">
                    <form action="/" method="get" id="_layout_search_border_">
                        <input type="hidden" name="r" value="home" />
                        <input type="hidden" name="mod" value="search" />
                        <input type="hidden" name="where" value="post" />
                        <input type="text" name="keyword" value="" class="txt" />
                        <input type="submit" value="검색" class="btn_search" />
                    </form>
                </div>


                <div id="iLogin">
                    <form name="LayoutLogForm" action="/" method="post" target="_action_frame_bbs" onsubmit="return layoutLogCheck(this);">
                        <input type="hidden" name="r" value="home" />
                        <input type="hidden" name="a" value="login" />

                        <div class="inputbox">
                            <input type="text" name="id" value="" class="txt"/>
                            <input type="password" name="pw" value="" size="15" class="txt"/>
                            <span class="btn"><input type="submit" value="로그인" class="gray1"/></span>
                            <span class="btn"><a href="./?mod=join" class="tv1">회원가입</a></span>
                        </div>
                        <div class="optbox">
                            <span><input id="auto" type="checkbox" name="idpwsave" value="checked" /><label for="auto">아이디저장</label></span>
                            <span class="findpw"><a href="/?r=home&mod=login&page=idpwsearch">비밀번호찾기</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="hb">
            <div class="wrap">
                <div id="gnb">
                    <ul>
                        <li class="mm">
                            <a href="#" >영화</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=torrent_ko">한국영화 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_en">최신외국영화 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_yesterday">지난외국영화 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_dvd">DVD/3D영화 토렌트</a></li>
                            </ul>
                        </li>
                        <li class="mm">
                            <a href="#" class="on">국내TV</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=torrent_drama">드라마 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_ent">예능/오락 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_sports">스포츠 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_sisa">시사/다큐 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_dramaend">완결드라마 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_cut">분할/편집/기타 토렌트</a></li>
                            </ul>
                        </li>
                        <li class="mm">
                            <a href="#" >해외TV</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=torrent_fdrama">해외드라마 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_fdramaend">완결해외드라마 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_fent">해외예능/다큐/기타 토렌트</a></li>
                            </ul>
                        </li>
                        <li class="mm">
                            <a href="#" >애니</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=torrent_ani">애니 토렌트</a></li>
                                <li><a href="./?m=bbs&bid=torrent_aniend">완결애니 토렌트</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./?m=bbs&bid=torrent_game" >게임</a>
                        </li>
                        <li>
                            <a href="./?m=bbs&bid=torrent_cartoon" >만화/소설</a>
                        </li>
                        <li>
                            <a href="./?m=bbs&bid=torrent_util" >유틸</a>
                        </li>
                        <li class="mm">
                            <a href="#" >음악</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=torrent_kpop">국내음악</a></li>
                                <li><a href="./?m=bbs&bid=torrent_pop">해외음악</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./?m=bbs&bid=torrent_app" >앱</a>
                        </li>
                        <li>
                            <a href="./?m=bbs&bid=torrent_kids" >유아</a>
                        </li>
                        <li>
                            <a href="./?m=bbs&bid=smi" >자막</a>
                        </li>
                        <li class="mm">
                            <a href="#" ><i class="fa fa-youtube-play"></i>다시보기</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=replay_drama">드라마 다시보기</a></li>
                                <li><a href="./?m=bbs&bid=replay_ent">예능 다시보기</a></li>
                                <li><a href="./?m=bbs&bid=replay_sisa">시사/다큐 다시보기</a></li>
                                <li><a href="./?m=bbs&bid=replay_news">뉴스 다시보기</a></li>
                                <li><a href="./?m=bbs&bid=replay_mov">영화 다시보기</a></li>
                            </ul>
                        </li>
                        <li class="mm">
                            <a href="#">포럼</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=forum_tvzil">포럼</a></li>
                                <li><a href="./?m=bbs&bid=forum_review">리뷰포럼</a></li>
                                <li><a href="./?m=bbs&bid=forum_torrent">토렌트포럼</a></li>
                                <li><a href="./?m=bbs&bid=forum_request">자료요청</a></li>
                            </ul>
                        </li>
                        <!--<li class="mm">
                            <a href="#" >인기포럼</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=forum_best">포럼 베스트</a></li>
                                <li><a href="./?m=bbs&bid=gallery_best">갤러리 베스트</a></li>
                            </ul>
                        </li>-->
                        <li class="mm">
                            <a href="#">공지/문의</a>
                            <ul class="sub">
                                <li><a href="./?m=bbs&bid=notice">공지사항</a></li>
                                <li><a href="./?m=bbs&bid=contact">문의게시판</a></li>
                            </ul>
                        </li>
                        <li><a href="./?mod=adpage">성인</a></li>
                        <li><a href="http://soramall.kr/intro.php?p_id=TVZIL" target="_blank"><i class="fa fa-star"></i>성인용품</a></li>
                        <li><a href="http://ra287.com/" target="_blank"><i class="fa fa-star"></i>릴게임</a></li>
                    </ul>
                </div>						<div id="twitter">
                    <a target="_blank" href="https://twitter.com/tvzil"><i class="fa fa-twitter"></i> TVZIL 트위터</a>
                </div>
            </div>
        </div>
    </div>
    <!-- BODY -->
    <div id="container">


        <div id="adArea">
            <div class="wrap">
                <div class="banner flL">
                    <a href="/_ad.php?uid=213696" target="_blank"><img src="./files/2015/04/02/7972f3db519378498f219096b3c51df6013449.gif" width="500" height="120"/></a>
                </div>
                <div class="banner flR">
                    <a href="/_ad.php?uid=185012" target="_blank"><img src="./files/2014/10/19/e931e4c91168d7b00e76f3e0d763780f001145.gif" width="500" height="120"/></a>
                </div>
            </div>
        </div>
        <!-- 페이지 컨테이너 -->
        <div id="page" class="wrap">

            <!-- 왼쪽영역 -->
            <div id="side">
                <div class="inner">
                    <div id="acc" class="box">
                        <dl>
                            <dt class="tt top50"><a href="./?mod=top50"><i class="fa fa-bar-chart-o"></i><b>현재 인기자료 1-50위</b><span class="ie7">04-07</span></a></dt>
                            <dt class="tt two"><i class="fa fa-search"></i><b>현재 인기검색어</b>04-07</dt>
                            <dd class="top50_dd">
                                <ul>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%AC%B4%ED%95%9C%EB%8F%84%EC%A0%84&where=post" style="white-space:nowrap;">무한도전</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%83%89%EC%9E%A5%EA%B3%A0&where=post" style="white-space:nowrap;">냉장고</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%ED%92%8D%EB%AC%B8&where=post" style="white-space:nowrap;">풍문</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%9B%90%ED%94%BC%EC%8A%A4&where=post" style="white-space:nowrap;">원피스</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%ED%95%9C%EA%B8%80&where=post" style="white-space:nowrap;">한글</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%8B%9D%EC%83%A4&where=post" style="white-space:nowrap;">식샤</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B9%9B%EB%82%98%EA%B1%B0%EB%82%98&where=post" style="white-space:nowrap;">빛나거나</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%ED%82%B9%EC%8A%A4%EB%A7%A8&where=post" style="white-space:nowrap;">킹스맨</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%A7%95%EB%B9%84%EB%A1%9D&where=post" style="white-space:nowrap;">징비록</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%AC%B4%ED%95%9C&where=post" style="white-space:nowrap;">무한</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B9%84%EC%A0%95%EC%83%81&where=post" style="white-space:nowrap;">비정상</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B8%94%EB%9F%AC%EB%93%9C&where=post" style="white-space:nowrap;">블러드</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%9F%B0%EB%8B%9D%EB%A7%A8&where=post" style="white-space:nowrap;">런닝맨</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=150406&where=post" style="white-space:nowrap;">150406..</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%82%98%EB%A3%A8%ED%86%A0&where=post" style="white-space:nowrap;">나루토</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%83%89%EC%9E%A5%EA%B3%A0%EB%A5%BC&where=post" style="white-space:nowrap;">냉장고를</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%ED%92%8D%EB%AC%B8%EC%9C%BC%EB%A1%9C&where=post" style="white-space:nowrap;">풍문으로</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=snl&where=post" style="white-space:nowrap;">snl</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B6%84%EB%85%B8%EC%9D%98+%EC%A7%88%EC%A3%BC&where=post" style="white-space:nowrap;">분노의 질주..</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B9%84%EC%A0%95%EC%83%81%ED%9A%8C%EB%8B%B4&where=post" style="white-space:nowrap;">비정상회담</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%97%B4%ED%98%88%EA%B0%95%ED%98%B8&where=post" style="white-space:nowrap;">열혈강호</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=flac&where=post" style="white-space:nowrap;">flac</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EA%B8%B0%EC%83%9D%EC%88%98&where=post" style="white-space:nowrap;">기생수</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%AA%A8%EC%9D%8C&where=post" style="white-space:nowrap;">모음</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%A7%88%EB%85%80%EC%82%AC%EB%83%A5&where=post" style="white-space:nowrap;">마녀사냥</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=3D&where=post" style="white-space:nowrap;">3D</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%95%B5%EA%B7%B8%EB%A6%AC&where=post" style="white-space:nowrap;">앵그리</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=k%ED%8C%9D&where=post" style="white-space:nowrap;">k팝</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%95%84%EB%B9%A0%EB%A5%BC&where=post" style="white-space:nowrap;">아빠를</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%8B%A4%EC%A2%85&where=post" style="white-space:nowrap;">실종</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%8A%88%ED%8D%BC%EB%8C%80%EB%94%94&where=post" style="white-space:nowrap;">슈퍼대디</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%83%84%EC%83%88&where=post" style="white-space:nowrap;">냄새</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%ED%98%B8%EA%B5%AC&where=post" style="white-space:nowrap;">호구</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=grimm&where=post" style="white-space:nowrap;">grimm</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B0%94%EB%94%94&where=post" style="white-space:nowrap;">바디</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%8A%88%ED%8D%BC%EB%A7%A8&where=post" style="white-space:nowrap;">슈퍼맨</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%8D%94%EB%9F%AC%EB%B2%84&where=post" style="white-space:nowrap;">더러버</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EA%BD%83%EB%B3%B4%EB%8B%A4&where=post" style="white-space:nowrap;">꽃보다</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=ncis&where=post" style="white-space:nowrap;">ncis</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=walking&where=post" style="white-space:nowrap;">walkin..</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B3%B5%EB%A9%B4&where=post" style="white-space:nowrap;">복면</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%A9%9C%EB%A1%A0&where=post" style="white-space:nowrap;">멜론</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%BD%94%EB%82%9C&where=post" style="white-space:nowrap;">코난</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%A7%84%EA%B2%A9&where=post" style="white-space:nowrap;">진격</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%95%84%EB%B9%A0&where=post" style="white-space:nowrap;">아빠</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=office&where=post" style="white-space:nowrap;">office..</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EB%B3%B5%EB%A9%B4%EA%B0%80%EC%99%95&where=post" style="white-space:nowrap;">복면가왕</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%A0%84%EC%A7%91&where=post" style="white-space:nowrap;">전집</a>
                                    </li>
                                    <li>
                                        <a href="/?r=home&amp;mod=search&amp;keyword=%EC%98%A4%EB%8A%98&where=post" style="white-space:nowrap;">오늘</a>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="tt two"><i class="fa fa-youtube-play"></i><b>다시보기 최근글</b></dt>
                            <dd id="hd-recent" class="top50_dd">
                                <li><a href="./?m=bbs&bid=replay_drama&uid=229024" title="가족의 비밀 E89.150407">가족의 비밀 E89.150407</a></li>
                                <li><a href="./?m=bbs&bid=replay_drama&uid=229023" title="황홀한 이웃 -E67.150407">황홀한 이웃 -E67.150407..</a></li>
                                <li><a href="./?m=bbs&bid=replay_drama&uid=229022" title="폭풍의 여자 E112.150407">폭풍의 여자 E112.150407..</a></li>
                                <li><a href="./?m=bbs&bid=replay_drama&uid=229021" title="그래도 푸르른 날에 E27.150407">그래도 푸르른 날에 E27.150..</a></li>
                                <li><a href="./?m=bbs&bid=replay_ent&uid=229019" title="여유만만 - &quot;마음이 담긴 손글씨 실전편&quot;">여유만만 - &quot;마음이 담..</a></li>
                                <li><a href="./?m=bbs&bid=replay_sisa&uid=229017" title="토크쇼 부모 -  &quot;놀라운 데이터- 요즘 아이들의 병&quot;">토크쇼 부모 -  &quot;놀라..</a></li>
                                <li><a href="./?m=bbs&bid=replay_sisa&uid=229011" title="최고의 요리비결 - &quot;닭봉우엉조림과 두릅무침&quot;">최고의 요리비결 - &quot;닭..</a></li>
                                <li><a href="./?m=bbs&bid=replay_sisa&uid=229009" title="무엇이든 물어보세요 -  &quot;당뇨 완치 처방전, 혈당일기&quot;">무엇이든 물어보세요 -  &quo..</a></li>
                                <li><a href="./?m=bbs&bid=replay_sisa&uid=229007" title="골든타임 .150407">골든타임 .150407</a></li>
                                <li><a href="./?m=bbs&bid=replay_sisa&uid=229006" title="아침마당 .150407">아침마당 .150407</a></li>
                            </dd>
                        </dl>
                    </div>
                    <div id="forum" class="box">
                        <ul id="t_m2" class="tabmenu">
                            <li class="on"><a onClick="show_forum(0);"><i class="fa fa-user"></i><span>포럼 최근글</span></a></li>
                            <li ><a onClick="show_forum(1);" style="border:none"><i class="fa fa-comments"></i><span>현재 댓글 순</span></a></li>
                        </ul>
                        <div class="cont-inner">
                            <ul id="t_v20" class="tabview" >
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=229039" title="펌) 컵라면 소방관 &quot;아빠, 라면 맛있어? 딸이 묻길래...&quot;">펌) 컵라면 소방관 &quot.. </a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=229026" title="펌) 조치원천안 8분주파">펌) 조치원천안 8분주파 <span class="cmt">+3</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=229002" title="중국 동북공정 뉴스 기사가 적은 이유는?">중국 동북공정 뉴스 기사가 적.. <span class="cmt">+3</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228870" title="기발한 발상전환의 좋은 예">기발한 발상전환의 좋은 예 <span class="cmt">+6</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228869" title="소방차 사고 나면 소방관 탓?..수백만원 벌금에 징계까지">소방차 사고 나면 소방관 탓?.. <span class="cmt">+14</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228866" title="뽀샵 전후">뽀샵 전후 <span class="cmt">+12</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228865" title="삼성에서 가장 줄을 잘탄 직원">삼성에서 가장 줄을 잘탄 직원.. <span class="cmt">+14</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228864" title="요즘 한자교과서의 패기">요즘 한자교과서의 패기 <span class="cmt">+3</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228855" title="대학졸업 축하 연설">대학졸업 축하 연설 <span class="cmt">+4</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228850" title="뭐지 반응이없어... 주..죽었나">뭐지 반응이없어... 주..죽.. <span class="cmt">+3</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228849" title="그래픽카드 비교">그래픽카드 비교 <span class="cmt">+10</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228848" title="심심했던 기차 승객">심심했던 기차 승객 <span class="cmt">+9</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228846" title="유병재 어록">유병재 어록 <span class="cmt">+6</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228796" title="펌)ㅋㅋ부부의밤일을 본 앵무새 ㅋㅋㅋㅋ">펌)ㅋㅋ부부의밤일을 본 앵무새.. <span class="cmt">+5</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228771" title="여자의 언어를 모르면 여혐이 되버리는 자료">여자의 언어를 모르면 여혐이 .. <span class="cmt">+15</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228770" title="사회적약자 보호의 의무">사회적약자 보호의 의무 <span class="cmt">+12</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228764" title="중고나라 스텝의 만행">중고나라 스텝의 만행 <span class="cmt">+35</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228751" title="펌) 수선의 달인">펌) 수선의 달인 <span class="cmt">+12</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228738" title="펌) 랍스타가 먹고 싶었던 여대생">펌) 랍스타가 먹고 싶었던 여.. <span class="cmt">+16</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228658" title="펌)이게진짜대박ㅋ번개두번맞고 산 중국인 ㅋㅋㅋ">펌)이게진짜대박ㅋ번개두번맞고 .. <span class="cmt">+18</span></a></li>
                            </ul>
                            <ul id="t_v21" class="tabview" style="display:none">
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228764&s=" title="중고나라 스텝의 만행">중고나라 스텝의 만행 <span class="cmt">+35</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228865&s=" title="삼성에서 가장 줄을 잘탄 직원">삼성에서 가장 줄을 잘탄 직.. <span class="cmt">+14</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228869&s=" title="소방차 사고 나면 소방관 탓?..수백만원 벌금에 징계까지">소방차 사고 나면 소방관 탓.. <span class="cmt">+14</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228866&s=" title="뽀샵 전후">뽀샵 전후 <span class="cmt">+12</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228771&s=" title="여자의 언어를 모르면 여혐이 되버리는 자료">여자의 언어를 모르면 여혐이.. <span class="cmt">+15</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228848&s=" title="심심했던 기차 승객">심심했던 기차 승객 <span class="cmt">+9</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228849&s=" title="그래픽카드 비교">그래픽카드 비교 <span class="cmt">+10</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228738&s=" title="펌) 랍스타가 먹고 싶었던 여대생">펌) 랍스타가 먹고 싶었던 .. <span class="cmt">+16</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228751&s=" title="펌) 수선의 달인">펌) 수선의 달인 <span class="cmt">+12</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228846&s=" title="유병재 어록">유병재 어록 <span class="cmt">+6</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228870&s=" title="기발한 발상전환의 좋은 예">기발한 발상전환의 좋은 예 <span class="cmt">+6</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228770&s=" title="사회적약자 보호의 의무">사회적약자 보호의 의무 <span class="cmt">+12</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228855&s=" title="대학졸업 축하 연설">대학졸업 축하 연설 <span class="cmt">+4</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228627&s=" title="저 지금 피방인데 남은시간 봐주세요 ㅋㅋㅋ">저 지금 피방인데 남은시간 .. <span class="cmt">+11</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228796&s=" title="펌)ㅋㅋ부부의밤일을 본 앵무새 ㅋㅋㅋㅋ">펌)ㅋㅋ부부의밤일을 본 앵무.. <span class="cmt">+5</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228864&s=" title="요즘 한자교과서의 패기">요즘 한자교과서의 패기 <span class="cmt">+3</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=229002&s=" title="중국 동북공정 뉴스 기사가 적은 이유는?">중국 동북공정 뉴스 기사가 .. <span class="cmt">+3</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=229026&s=" title="펌) 조치원천안 8분주파">펌) 조치원천안 8분주파 <span class="cmt">+3</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228601&s=" title="중독성있는 경보음 댄스">중독성있는 경보음 댄스 <span class="cmt">+5</span></a></li>
                                <li><a href="./?m=bbs&bid=forum_tvzil&uid=228623&s=" title="자동세척 밥솥 기술이 가능한가요?">자동세척 밥솥 기술이 가능한.. <span class="cmt">+15</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="banner">
                        <a href="/_ad.php?uid=222024" target="_blank"><img src="./files/2015/03/16/b425bb0f6a090c17ac93c1818c61eaf5161739.jpg" /></a>
                    </div>
                    <div class="banner">
                        <a href="/_ad.php?uid=213695" target="_blank"><img src="./files/2015/04/02/239e1d33f8d6b398353daca4ca68fa91013508.gif" /></a>
                    </div>
                    <div class="banner">
                    </div>

                </div>
            </div>			<!-- /왼쪽영역 -->

            <!-- 우측영역 -->
            <div id="content">

                <!-- 본문상단 :: 본문일 경우에는 노출 하지 않음 -->


                <div id="best" class="bestWidget">
                    <div id="t_m" class="tabmenu">
                        <ul>
                            <li class="on"><a onClick="show_best(0);"><span>Today Best</span></a></li>
                            <li><a onClick="show_best(1);"><span>Weekly Best</span></a></li>
                        </ul>
                    </div>
                    <div id="t_v0" class="box tabview" style="">
                        <div class="inner">
                            <ul class="rank1_5">
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228856&s=">[JTBC] 냉장고를 부탁해.E21.150406.H..</a><span class="date">04-06</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228881&s=">[JTBC] 비정상회담.E40.150406.HDTV..</a><span class="date">04-07</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228843&s=">[On Style] 더 바디쇼.E01.150406...</a><span class="date">04-06</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228884&s=">힐링캠프 기쁘지 아니한가.E178.150406.HD..</a><span class="date">04-07</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228893&s=">[JTBC] 비정상회담.E40.150406.HDTV..</a><span class="date">04-07</span></li>
                            </ul>
                            <ul class="rank6_10">
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228885&s=">대국민 토크쇼 안녕하세요.E219.150406.HDTV..</a><span class="date">04-07</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228873&s=">150406.대국민 토크쇼 안녕하세요 「장동민, 레이디..</a><span class="date">04-07</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228894&s=">힐링캠프 기쁘지 아니한가.E178.150406.HDTV..</a><span class="date">04-07</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228874&s=">150406.힐링캠프, 기쁘지 아니한가 「이문세의 힐링..</a><span class="date">04-07</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228812&s=">[O'live] 오늘 뭐 먹지.E51.150406.HD..</a><span class="date">04-06</span></li>
                            </ul>
                        </div>
                    </div>
                    <div id="t_v1" class="box tabview" style="display:none">
                        <div class="inner">
                            <ul class="rank1_5">
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228350&s=">무한도전.E422.150404.HDTV.H264.7..</a><span class="date">04-04</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228109&s=">[tvN] 꽃보다 할배 in 그리스.E02.1504..</a><span class="date">04-03</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228599&s=">슈퍼맨이 돌아왔다.E72.150405.HDTV.H2..</a><span class="date">04-05</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228612&s=">일요일이 좋다-런닝맨.E373.150405.HDTV..</a><span class="date">04-05</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228594&s=">일밤 1부 복면가왕.E01.150405.HDTV.H..</a><span class="date">04-05</span></li>
                            </ul>
                            <ul class="rank6_10">
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=227156&s=">[JTBC] 냉장고를 부탁해.E20.150330.HDT..</a><span class="date">03-30</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=227895&s=">[JTBC] 썰전.E109.150402.HDTV.H26..</a><span class="date">04-03</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228856&s=">[JTBC] 냉장고를 부탁해.E21.150406.HDT..</a><span class="date">04-06</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228596&s=">일요일이 좋다-K팝스타 시즌4.E20.150405.HD..</a><span class="date">04-05</span></li>
                                <li><a href="./?m=bbs&bid=torrent_ent&uid=228106&s=">정글의 법칙 in 인도차이나.E155.150403.HD..</a><span class="date">04-03</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--
                    # 서브메뉴 관련 파일
                    # 서브메뉴 설정 할때만 사용하세요
                -->



                <div id="lnb">
                    <ul>

                        <!-- 영화 -->

                        <!-- 국내TV -->
                        <li ><a href="./?m=bbs&bid=torrent_drama"><span class="new">N</span>드라마</a></li>
                        <li class="on"><a href="./?m=bbs&bid=torrent_ent"><span class="new">N</span>예능/오락</a></li>
                        <li ><a href="./?m=bbs&bid=torrent_sports"><span class="new">N</span>스포츠</a></li>
                        <li ><a href="./?m=bbs&bid=torrent_sisa"><span class="new">N</span>시사/다큐</a></li>
                        <li ><a href="./?m=bbs&bid=torrent_dramaend">완결드라마</a></li>
                        <li ><a href="./?m=bbs&bid=torrent_cut"><span class="new">N</span>분할/편집/기타</a></li>

                        <!-- 해외TV -->

                        <!-- 애니 -->

                        <!-- 음악 -->

                        <!-- 다시보기 -->

                        <!-- 포럼 -->

                        <!-- 베스트 -->

                    </ul>
                </div>



                <div id="to_gid" style="margin:11px 0 0 0">
                    <ul>
                        <li class="on"><a href="/?m=bbs&amp;bid=torrent_ent">등록일순</a></li>
                        <li><a href="#" onclick="alert('회원만 가능합니다.'); return false;">시드체크순</a></li>
                        <li><a href="#" onclick="alert('회원만 가능합니다.'); return false;">주간인기순</a></li>
                        <li><a href="#" onclick="alert('회원만 가능합니다.'); return false;">전체인기순</a></li>
                    </ul>
                </div>
                <div id="cate">
                    <ul>
                        <li class="on"><a href="./?m=bbs&bid=torrent_ent">전체보기</a></li>
                        <li ><a href="./?m=bbs&bid=torrent_ent&cat=%EC%98%88%EB%8A%A5%2F%EC%98%A4%EB%9D%BD">예능/오락</a></li>
                        <li ><a href="./?m=bbs&bid=torrent_ent&cat=%EA%B8%B0%ED%83%80">기타</a></li>
                    </ul>
                </div>



                <!-- /본문상단 -->
                <div id="path">
                    일밤 1부 복면가왕.E01.150405.HDTV.H264.720p-WITH					토렌트 예능 				</div>


                <!-- 본문 -->
                <div class="content">
                    <script language="javascript" type="text/javascript" src="./layouts/avsnoop/captcha/js/vpb_captcha_checker.js?ver=2.4"></script>
                    <link href="./layouts/avsnoop/captcha/css/style.css?ver=1" rel="stylesheet" type="text/css" />

                    <form name="checkForm" method="get" target="tifm" action="/" onsubmit="return permCheck(this);">
                        <input type="hidden" name="r" value="home" />
                        <input type="hidden" name="m" value="upload" />
                        <input type="hidden" name="a" value="download" />
                        <input type="hidden" name="confirm" value="Y" />
                        <input type="hidden" name="torrent" value="Y" />
                        <input type="hidden" name="ext" value="" />
                        <input type="hidden" name="uid" value="" />
                    </form>
                    <iframe src="about:blank" name="tifm" style="display:none"></iframe>

                    <div id="bbsview">
                        <div class="inner">

                            <h1><span>일밤 1부 복면가왕.E01.150405.HDTV.H264.720p-WITH</span></h1>
                            <span id="fontface"></span>
                            <h2 class="hidden">파일정보</h2>
                            <div class="infobox">
                                <p class="p1">
                                    토렌트 예능 <span class="line">|</span> 예능/오락 <span class="line">|</span> 용량 1.39GB <span class="line">|</span> 등록일 2015.04.05 18:28 <span class="line">|</span> 조회 10508 				<!-- 스크랩 & 폰트 -->
		<span class="scrapzone">

			<span class="scrap"><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;a=scrap&amp;uid=228594" target="_action_frame_bbs" onclick="return isLogin();"><img src="/_core/image/_public/b_scrap.gif" alt="스크랩" title="스크랩" />스크랩</a></span>
			<span>

			<img src="/_core/image/_public/b_font.gif" alt="글꼴" title="글꼴" class="hand" onclick="fontFace('vContent','fontface');" />
			<img src="/_core/image/_public/b_plus.gif" alt="확대" title="확대" class="hand" onclick="fontResize('vContent','+');"/>
			<img src="/_core/image/_public/b_minus.gif" alt="축소" title="축소" class="hand" onclick="fontResize('vContent','-');" />
			</span>
		</span>
                                    <!-- /스크랩 & 폰트 -->

                                </p>

                                <p class="p2"><i class="fa fa-bolt"></i><span class="fn"></span><span class="btn"><a href="/?m=bbs&bid=notice&uid=179809&cat=" class="tv1">토렌트설치 및 이용방법</a></span></p>
                                <p class="p4"><i class="ico torrent2"></i><span class="fn">AD 추억의 고전게임 바람의나라</span><span class="btn"><a href="/?m=bbs&bid=torrent_game&mod=view&uid=226120" class="tv1">다운로드</a></span></p>



                                <p class="p4" id="torrent_256808"><i class="ico torrent2"></i><span class="fn" title="일밤 1부 복면가왕.e01.150405.hdtv.h264.720p-with.mp4.torrent">일밤 1부 복면가왕.e01.150405.hdtv.h264.720p-with.mp4.torrent</span><span class="btn">

                                            <a href="/?r=home&amp;m=upload&amp;a=download&amp;uid=256808" onClick="return vpb_submit_captcha(256808);" id="download_button_256808" class="tv1">다운로드</a>
       		</span>

                                    <a href="javascript:void(0);" onClick="vpb_refresh_aptcha(256808);"><img src="./layouts/avsnoop/captcha/vasplusCaptcha.php?id=256808&rand=1658827349" id='captchaimg_256808' height="25" align="absmiddle" ></a>
                                    <input id="vpb_captcha_code_256808" name="vpb_captcha_code" class="vpb_captcha_code" type="text" size="10" maxlength="10" style="width:60px;" placeholder="보안문자" />
                                    <span id="captchaResponse_256808" style="float: none; padding-top: 8px; padding-right: 10px; "></span>
                                </p>
                                <p class="p5"><i class="fa fa-cloud-download"></i><span class="fn">시드 3629<span class="line">|</span> 리처 1246  <span class="line">|</span> 시드체크 39분전<span class="line">|</span> 시드는 정확하지 않을 수 있으니 참고만 하시기 바랍니다</span> </p>
                                <div class="filelist">
                                    <div class="inside">
                                        <h3>토렌트 다운로드 파일 리스트</h3>
                                        <li >1. 일밤 1부 복면가왕.E01.150405.HDTV.H264.720p-WITH.mp4 [1.39GB]
                                    </div>
                                </div>



                            </div>

                            <!-- 본문 -->
                            <div class="viewbox">
                                <div class="inner">
                                    <div id="vContent"><br><br>일밤 1부 복면가왕.E01.150405.HDTV.H264.720p-WITH</div>
                                </div>
                            </div>
                            <!-- /본문 -->


                            <!-- 추천 -->
                            <div class="votebox">
                                <div class="inner">
		<span class="m">
							추천하시면 게시자+1p 추천자+1p 포인트가 적립됩니다.<br>광고 및 허위자료는 비추천을 눌러주세요 비추천이 많으면 자동 삭제됩니다					</span>
                                    <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;a=score&amp;value=good&amp;uid=228594"
                                       target="_action_frame_bbs"
                                       onclick="return confirm('추천은 1일5회 가능합니다\n추천 하시겠습니까?');"><span
                                                class="num"> + 17</span> <i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;					<a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;a=singo&amp;uid=228594"
                                                                                                                                                                                     target="_action_frame_bbs"
                                                                                                                                                                                     onclick="return confirm('비추천 하시겠습니까?');"><span
                                                class="num"> - 0</span> <i class="fa fa-thumbs-o-down"></i>
                                    </a>			</div>
                            </div>
                            <!-- /추천 -->



                            <!-- 태그 -->
                            <div class="tagbox">
                                <div class="inner">
                                    <i class="ico tag"></i><span>일밤,1부,복면가왕,E01,150405,HDTV,H264,720p,WITH</span>
                                </div>
                            </div>
                            <!-- /태그 -->

                            <!-- 광고 -->
                            <div class="adbox">
                                <div class="inner">
                                    <a href="/_ad.php?uid=200599" target="_blank"><img src="./files/2015/04/02/7972f3db519378498f219096b3c51df6013530.gif"
                                                                                       width="500" height="120"/></a>
                                </div>
                            </div>
                            <!-- /광고-->


                            <!-- 코멘트 -->
                            <div class="cmtbox">
                                <div class="inner">
                                    <div class="top">
                                        <span class="left"><i class="fa fa-comments"></i><span>19</span>Comments</span>

                                        <div class="right">
			<span class="msg">
									낚시 파일,이미지와 틀린파일 광고글인 경우 게시물 링크와 내용을 문의게시판에 남겨주세요.							</span>

			<span class="btn" style="display:none">
							<a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;a=singo&amp;uid=228594"
                               target="_action_frame_bbs" onclick="return confirm('정말로 신고하시겠습니까?');"
                               class="gray1">삭제요청 0회</a></span>
                                        </div>

                                    </div>
                                    <a name="CMT"></a>
                                    <iframe name="commentFrame" id="commentFrame"
                                            src="/?r=home&amp;m=comment&amp;skin=&amp;hidepost=0&amp;iframe=Y&amp;cync=[bbs][228594][uid,comment,oneline,d_comment][rb_bbs_data][9][m:bbs,bid:torrent_ent,uid:228594]&amp;CMT="
                                            width="100%" height="0" frameborder="0" scrolling="no" allowTransparency="true"></iframe>
                                </div>
                            </div>
                            <!-- /코멘트 -->

                        </div>

                        <div class="bottom">
                            <span class="btn"><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4" class="gray1">목록</a></span>
                            <span class="btn"><a href="javascript:void(0);" class="tv3">글쓰기 권한이 없습니다</a></span>
                        </div>


                    </div>

                    <script type="text/javascript">
                        //<![CDATA[
                        function printWindow(url) {
                            window.open(url, 'printw', 'left=0,top=0,width=700px,height=600px,statusbar=no,scrollbars=yes,toolbar=yes');
                        }
                        function commentShow(type) {
                            var url;
                            if (type == 'comment') {
                                url = '/?r=home&m=comment&skin=&hidepost=0&iframe=Y&cync=';
                                url += '[bbs][228594]';
                                url += '[uid,comment,oneline,d_comment]';
                                url += '[rb_bbs_data][9]';
                                url += '[m:bbs,bid:torrent_ent,uid:228594]';
                                url += '&CMT=';
                            }
                            else {
                                url = '/?r=home&m=trackback&iframe=Y&cync=';
                                url += '[bbs][228594]';
                                url += '[m:bbs,bid:torrent_ent,uid:228594]';
                                url += '&TBK=';
                            }

                            frames.commentFrame.location.href = url;
                        }
                        function setImgSizeSetting() {
                            var ofs = getOfs(getId('vContent'));
                            getDivWidth(ofs.width, 'vContent');
                            var ff = getCookie('myFontFamily');
                            if( ff ) { getId('vContent').style.fontFamily = ff; }
                            var fs = getCookie('myFontSize');
                            if( fs ) { getId('vContent').style.fontSize = fs; }


                        }
                        window.onload = setImgSizeSetting;
                        //]]>
                    </script>

                    <div id="bbslist">
                        <form name="listForm" action="/" method="post" target="_action_frame_bbs">
                            <input type="hidden" name="r" value="home" />
                            <input type="hidden" name="c" value="" />
                            <input type="hidden" name="m" value="bbs" />
                            <input type="hidden" name="a" value="" />
                            <table summary="게시판 요약글입니다">
                                <caption>토렌트 TVZIL</caption>
                                <colgroup>
                                    <col width="50px" />
                                    <col width="80px" />
                                    <col width="65px" />
                                    <col width="45px" />
                                    <col width=""/>
                                    <col width="45px" />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>분류</th>
                                    <th>용량</th>
                                    <th>Seed</th>
                                    <th>제목</th>
                                    <th>등록일</th>
                                </tr>
                                </thead>
                                <tbody>


                                <tr class="ad">
                                    <td class="no">AD</td>
                                    <td class="cate">AD</td>
                                    <td class="size">111MB</td>
                                    <td class="seed"><i class="fa fa-circle"></i></td>

                                    <td class="sbj"><a href="./?m=bbs&bid=torrent_game&mod=view&uid=226120">추억의 고전게임 바람의나라</a><span class="new"><i class="fa fa-plus-square"></i></span></td>

                                    <td class="date"></td>
                                </tr>
                                <tr >
                                    <td class="no">
                                        10024									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.49GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228596">

                                            일요일이 좋다-K팝스타 시즌4.E20.150405.HDTV.H264.720p-WITH										<i class="fa fa-thumbs-o-up"></i> <span class="reco">20</span>					<i class="fa fa-comments"></i> <span class="cmt">27
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10023									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">801MB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228595">

                                            일밤 1부 복면가왕.E01.150405.HDTV.XviD-WITH										<i class="fa fa-thumbs-o-up"></i> <span class="reco">5</span>					<i class="fa fa-comments"></i> <span class="cmt">8
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr style="background:#e5e5e5">
                                    <td class="no">
                                        <span class="now">&gt;&gt;</span>
                                    </td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.39GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228594">

                                            일밤 1부 복면가왕.E01.150405.HDTV.H264.720p-WITH										<i class="fa fa-thumbs-o-up"></i> <span class="reco">17</span>					<i class="fa fa-comments"></i> <span class="cmt">19
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10021									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">2.45GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228593">

                                            [SKullHD] K팝스타4 E20 150405 HDTV 720p H264 AAC										<i class="fa fa-thumbs-o-up"></i> <span class="reco">2</span>					<i class="fa fa-comments"></i> <span class="cmt">2
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10020									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.53GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228592">

                                            150405.일밤 1부 복면가왕 「첫방송」.H264.AAC.720p-CineBus										<i class="fa fa-thumbs-o-up"></i> <span class="reco">3</span>					<i class="fa fa-comments"></i> <span class="cmt">4
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10019									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">894MB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228583">

                                            150405.섹션TV 연예통신.H264.AAC.720p-CineBus										<i class="fa fa-thumbs-o-up"></i> <span class="reco">2</span>					<i class="fa fa-comments"></i> <span class="cmt">1
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10018									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.29GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228582">

                                            SBS 인기가요.E809.150405.HDTV.H264.720p-WITH										<i class="fa fa-thumbs-o-up"></i> <span class="reco">3</span>					<i class="fa fa-comments"></i> <span class="cmt">6
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10017									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.11GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228581">

                                            신비한TV 서프라이즈.E657.150405.HDTV.H264.720p-WITH										<i class="fa fa-thumbs-o-up"></i> <span class="reco">1</span>					<i class="fa fa-comments"></i> <span class="cmt">4
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10016									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.10GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228580">

                                            출발 드림팀 시즌2.E276.150405.HDTV.H264.720p-WITH										<i class="fa fa-thumbs-o-up"></i> <span class="reco">1</span>					<i class="fa fa-comments"></i> <span class="cmt">3
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10015									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">836MB</td>
                                    <td><span class="seed no"><i class="fa fa-refresh fa-spin"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228569">

                                            AOA 맴을 열어봐 (1~5)
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10014									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">2.57GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228558">

                                            해피투게더 3 150405 제392회 MC 추천 특집 스페셜 CATV X264 AAC 1080p-DWBH.m										<i class="fa fa-thumbs-o-up"></i> <span class="reco">1</span>					<i class="fa fa-comments"></i> <span class="cmt">2
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10013									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">726MB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228548">

                                            150405.출발! 비디오 여행.H264.AAC.720p-CineBus															<i class="fa fa-comments"></i> <span class="cmt">4
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10012									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">37.2MB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228536">

                                            마이 리틀 텔레비전 AOA 초아[나에게로 직캠~!] REPACK S02E00 [시험방송] x264-aiden										<i class="fa fa-thumbs-o-up"></i> <span class="reco">1</span>					<i class="fa fa-comments"></i> <span class="cmt">2
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10011									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">53.7MB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228531">

                                            마이 리틀 텔레비전 김구라-동현[트루 스토리] S02E00 [시험방송] x264-aiden0										<i class="fa fa-thumbs-o-up"></i> <span class="reco">2</span>					<i class="fa fa-comments"></i> <span class="cmt">2
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10010									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.04GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228530">

                                            150405.신비한TV 서프라이즈 「조국을 버린 이유 - 체조요정 코마네치 外」.H264.AAC.720p-C										<i class="fa fa-thumbs-o-up"></i> <span class="reco">4</span>					<i class="fa fa-comments"></i> <span class="cmt">3
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10009									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.18GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228529">

                                            150405.출발드림팀 시즌2 「황금알을 품은 부부」.H264.AAC.720p-CineBus										<i class="fa fa-thumbs-o-up"></i> <span class="reco">3</span>					<i class="fa fa-comments"></i> <span class="cmt">1
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10008									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.53GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228524">

                                            아빠를 부탁해.E03.150404.HDTV.x265.1080p-HDione										<i class="fa fa-thumbs-o-up"></i> <span class="reco">2</span>					<i class="fa fa-comments"></i> <span class="cmt">3
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10007									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.20GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228522">

                                            150405.TV 동물농장 「강남 자곡동 괴물 백구의 정체 外」.H264.AAC.720p-CineBus										<i class="fa fa-thumbs-o-up"></i> <span class="reco">4</span>					<i class="fa fa-comments"></i> <span class="cmt">11
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10006									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.70GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228521">

                                            150404.아빠를 부탁해 「조재현 - 둘만의 공연 데이트 外」.H264.AAC.1080i-CineBus										<i class="fa fa-thumbs-o-up"></i> <span class="reco">3</span>					<i class="fa fa-comments"></i> <span class="cmt">6
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>

                                <tr >
                                    <td class="no">
                                        10005									</td>
                                    <td class="cate">예능/오락</td>
                                    <td class="size">1.56GB</td>
                                    <td><span class="seed"><i class="fa fa-circle"></i></span></td>
                                    <td class="sbj" >
                                        <a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;uid=228477">

                                            무한도전.E422.150404.HDTV.x265.1080p-HDione										<i class="fa fa-thumbs-o-up"></i> <span class="reco">7</span>					<i class="fa fa-comments"></i> <span class="cmt">11
                                        </a>
                                    </td>
                                    <td class="date">04-05</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="10">
                                        <span class="seed"><i class="fa fa-circle"></i> 시드있음</span>
                                        <span class="seed no"><i class="fa fa-circle"></i> 시드없음</span>
                                        <span class="chk"><i class="fa fa-refresh fa-spin"></i> 시드체크중</span>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                            <!-- 관리버튼 -->
                        </form>
                        <div class="bottom">
                            <div class="button">
                                <span class="btn"><a href="javascript:void(0);" class="tv3">글쓰기 권한이 없습니다</a></span>
                            </div>
                            <div class="banner">
                            </div>

                            <!-- 페이지네이션 -->
                            <div class="pagination">

                                <span class="prev">PREV</span><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=1" class="notselected" title="1 페이지">1</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=2" class="notselected" title="2 페이지">2</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=3" class="notselected" title="3 페이지">3</a><span class="selected" title="4 페이지">4</span><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=5" class="notselected" title="5 페이지">5</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=6" class="notselected" title="6 페이지">6</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=7" class="notselected" title="7 페이지">7</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=8" class="notselected" title="8 페이지">8</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=9" class="notselected" title="9 페이지">9</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=10" class="notselected" title="10 페이지">10</a><a href="/?m=bbs&amp;bid=torrent_ent&amp;p=4&amp;p=11"><span class="next">NEXT</span></a>	</div>

                            <!-- 검색 -->
                            <div id="bbssearch" class="sch">
                                <form name="bbssearchf" action="/">
                                    <input type="hidden" name="r" value="home" />
                                    <input type="hidden" name="c" value="" />
                                    <input type="hidden" name="m" value="bbs" />
                                    <input type="hidden" name="bid" value="torrent_ent" />
                                    <input type="hidden" name="cat" value="" />
                                    <input type="hidden" name="sort" value="gid" />
                                    <input type="hidden" name="orderby" value="asc" />
                                    <input type="hidden" name="recnum" value="20" />
                                    <input type="hidden" name="type" value="" />
                                    <input type="hidden" name="iframe" value="" />
                                    <input type="hidden" name="skin" value="" />
                                    <!-- <form name="bbssearchf" action="/"> -->
                                    <input type="hidden" name="r" value="home" />

                                    <select name="where" style="display:none">
                                        <option value="subject|tag">제목+태그</option>
                                        <option value="content">본문</option>
                                    </select>

                                    <input type="text" name="keyword" size="30" value="" class="txt" />
                                    <input type="submit" value=" 검색 " class="btn_search" />
                                </form>
                            </div>

                        </div>
                    </div>
                </div>				</div>
            <!-- /본문 -->
        </div>
        <!-- /우측영역 -->
    </div>
    <!-- /페이지컨테이너 -->

</div>

<!-- FOOTER -->
<div id="footer">
    <div class="os">
        <div class="copyright">
            <address><span>Copyright (c) 2013 <strong>TVZIL</strong> All rights reserved .  <a href="/?mod=postrule"><strong>DMCA</strong></span></a></address>
            <span><a href="/?mod=contactad"><strong>광고&제휴문의</strong></a> <strong>contact us</strong> tvzilcom@gmail.com</span>
        </div>
    </div>
</div>

<script type="text/javascript">

    function getCookie(name){

        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0)
                return null;
        } else {
            begin += 2;
        }

        var end = document.cookie.indexOf(";", begin);
        if (end == -1)
            end = dc.length;
        return unescape(dc.substring(begin + prefix.length, end));
    }
    function setCookie( name, value, expiredays ) {
        var todayDate = new Date();
        todayDate.setDate( todayDate.getDate() + expiredays );

        document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    }


    jQuery(document).ready(function($) {

        if ( getCookie( "popup_bottom" ) != "yes" ){
            setTimeout(motionpop,1500);
        }
        motionNav();
//
    });
    jQuery(window).resize(function() {
        setTimeout(motionNav,500);
    });
    function motionNav()
    {

        var content_w = jQuery('body').width();

        if ( content_w < 1400)
        {




            //jQuery( ".quick_menu" ).animate({'right': -90}, 500 );
            jQuery('.quick_menu').css({display: 'none'});
            jQuery('.quick_menu_s').css({display: 'block'});

        }else
        {
            jQuery('.quick_menu').css({display: 'block'});
            jQuery( ".quick_menu" ).animate({'right': 0}, 500 );
        }
    }



    function motionpop()
    {
        jQuery("#bottomBanner").animate({'height':520}, 1000 );
        jQuery('#bottomBanner').css({display: 'block'});
        jQuery('.pop').css({display: 'none'});
    }
    function motionpopout()
    {
        jQuery("#bottomBanner").animate({'height': -120}, 4000 );
        setTimeout(motionpopout2,1000);

    }
    function motionpopout2()
    {

        jQuery('#bottomBanner').css({display: 'none'});
        jQuery('.pop').css({display: 'block'});

    }

</script>
<script>

    function btnClose(){
        setCookie('popup_bottom', 'yes', 1);
        motionpopout() ;
    }
</script>

<div id="bottomBanner" class="bottomBanner"style="display:none">
    <div class="wrap">
        <div class="popup">
            <a href="/_ad.php?uid=207598" target="_blank"><img src="./files/2015/01/19/94ede411c1c8a60da9b614796be1df95210710.gif"/></a>
            <div class="bg1" ></div><div class="bg2 ie7" ></div>
        </div>

        <div class="close_pop2" id="close_pop2" onclick="btnClose();"><img src="/layouts/avsnoop/image/bottom_popup_close.png" alt="close" /></div>
    </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49666721-1', 'auto');
    ga('send', 'pageview');

</script>



<script type="text/javascript">
    //<![CDATA[
    function screenCheck()
    {
        var _h = getId('header');
        var _t = getId('topmenu');
        var _c = getId('content');
        var _f = getId('footer');
        var _r = getId('rcontent');
        var _w;

        var w = parseInt(document.body.clientWidth);
        var b = getOfs(_c.children[0]);

        _w = w < 960 ? w : 960;
        _w = _w < 240 ? 240 : _w;

        _h.children[0].style.width = _w + 'px';
        _t.children[0].style.width = _w + 'px';
        _c.children[0].style.width = _w + 'px';
        _f.children[0].style.width = _w + 'px';
        document.body.style.overflowX = 'hidden';
    }
    //setTimeout("screenCheck()",100);
    //window.onresize = screenCheck;
    //]]>
</script>


<div id="_box_layer_"></div>
<div id="_action_layer_"></div>
<div id="_hidden_layer_"></div>
<div id="_overLayer_" class="hide"></div>
<iframe name="_action_frame_bbs" width="0" height="0" frameborder="0" scrolling="no"></iframe>
<script type="text/javascript">
    //<![CDATA[
    document.body.onclick = closeMemberLayer;
    document.onkeydown = closeImgLayer;
    //]]>
</script>

<script type="text/javascript">
    //<![CDATA[
    var Popstring = '';
    if(Popstring!='')
    {
        frames._action_frame_bbs.location.href='/?r=home&system=popup.layer&iframe=Y&pop='+Popstring;
    }
    function hidePopupLayer(uid)
    {
        if (getId('popCheck_'+uid).checked == true)
        {
            var nowcookie = getCookie('popview');
            setCookie('popview', '['+uid+']' + nowcookie , 1);
        }
        getId('poplayer'+uid).style.display = 'none';
    }
    //]]>
</script>
</body>
</html>

